<template>
  <div class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600 footerBar">
    <span>
      Copyright © 2019 by
      <a
        href="https://beyla-1.firebaseapp.com/"
        target="_blank"
        title="Beyla"
      >Beyla</a>.
      All rights reserved.
    </span>
  </div>
</template>
<script>
export default {
  name: "footerBar"
};
</script>
