<template>
    <div id="signin">
    <div class="peers ai-s fxw-nw h-100vh">
      <div class="peer peer-greed h-100 pos-r bgr-n bgpX-c bgpY-c bgsz-cv" style='background-image: url("https://media.istockphoto.com/photos/two-authentic-caucasian-bearded-viking-warriors-in-outdoor-forest-picture-id823845086?k=6&m=823845086&s=612x612&w=0&h=FHDH-bPBrbAHq0pWvNDkoebIP9skLtP4lQqILhy1Fhk=")'>
        <div class="pos-a centerXY">
          <div class="bgc-white bdrs-50p pos-r" style='width: 240px; height: 240px;'>
            <img class="pos-a centerXY" src="static/images/logo.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 peer pX-40 pY-80 h-100 bgc-white scrollable pos-r" style='min-width: 320px;'>
        <h4 class="fw-300 c-grey-900 mB-40">Iniciar Sesión</h4>
        <form id="signup"  @submit="signInFirebase" @change="validEmail"  >
          <div class="form-group">
            <label class="text-normal text-dark">Email</label>
            <input type="email" class="form-control" v-model="email" Placeholder='nombre@email.com' id="email-signin">
          </div>
          <div class="form-group">
            <label class="text-normal text-dark">Contraseña</label>
            <input type="password" class="form-control" v-model="password" placeholder="Contraseña" id="pass-signin">
          </div>
            <p v-if="errors.length">
                <b>Por favor soluciona estos errores:</b>
                <ul>
                <li v-bind:id='error' v-for="error in errors">{{ error }}</li>
                </ul>
            </p>
          <div class="form-group" v-else>
            <button class="btn btn-primary" type="submit">Iniciar</button>
          </div>
        </form>
      </div>
    </div>

    </div>
</template>

<script>

export default {
  name: 'signin',
  data: function () {
    return {
      errors: [],
      email: null,
      password: null
    }
  },
  methods: {
    validEmail: function () {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      return re.test(this.email)
    },
    signInFirebase: function (e) {
      console.log('login')
    }
  }
}
</script>
