<template>
<body class="app">
  <component :is="layout">
    <router-view></router-view>
  </component>
</body>
</template>


<script>
import "./assets/styles/index.scss";

export default {
  name: "app",
  computed: {
    layout() {
      return this.$route.meta.layout;
    }
  }
};
</script>
