<template>
<body class="app">
  <div>
    <Sidebar></Sidebar>
    <div class="page-container">
      <Topbar></Topbar>
      <main class="main-content bgc-grey-100">
        <div id="mainContent">
          <div class="full-container">
            <!-- CONTENT -->
            <slot></slot>
          </div>
        </div>
      </main>
      <footerBar></footerBar>
    </div>
  </div>
</body>
</template>


<script>
import Sidebar from "@/components/Leftsidebar.vue";
import footerBar from "@/components/Footer.vue";
import Topbar from "@/components/TopBar.vue";

export default {
  name: "appLayout",
  components: {
    Sidebar,
    footerBar,
    Topbar
  }
};
</script>
